.inputs-wrapper {
  margin: 20px;
  padding: 10px 0;

  .button-generate {
    float: right;
  }

  .url-text {
    margin-bottom: 10px;
  }

  .button-wrapper {
    margin-top: 10px;
  }

  .error-message {
    background: darkred;
  }

  .notice-message {
    background: deepskyblue;
  }

}